API_PORT=your_api_port_here
MONGO_URI=your_mongo_uri_here
TOKEN_KEY=your_token_key_here
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_CALLBACK_URL=your_google_callback_url_here